body{
    margin: 0;
    padding: 0;
    height: 100vh;  
}

.container{
    margin: 20px;
    box-sizing: border-box;
    font-size: 0;
}

.row{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.item-1{
    background: #F5C6D6;
    position: relative;
    flex: 1;
    max-width: 1440px;
    height: 150px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
}

.item-2{
    background: #EE2E84;
    position: relative;
    flex: 1;
    max-width: 940px;
    height: 150px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
}

.item-3{
    background:#85CFD8 ;
    position: relative;
    flex: 1;
    max-width: 940px;
    height: 150px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
}

.item-4{
    background:#8DC63F ;
    position: relative;
    flex: 3;
    max-width: 1200px;
    height: 150px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
}

.item-5{
    background: #E76E34;
    position: relative;
    flex: 1;
    max-width: 940px;
    height: 150px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
}


@media (max-width: 768px){
    .item-1{
        flex: 100%;
        max-width: 768px;
    }
    
    .item-2{
        flex: 100%;
        max-width: 768px;
    }
    .item-3{
        flex: 100%;
        max-width: 768px;
    }

    .item-4{
        flex: 100%;
        max-width: 768px;
    }
    
    .item-5{
        flex: 100%;
        max-width: 768px;
    }
}
    